{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Congé</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
</head>
<body>
    <div class="container">
        <h1 class="form-title">Ajouter un Congé</h1>

        <!-- Affichage des erreurs globales -->
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Veuillez corriger les erreurs suivantes :</strong>
            </div>
        {% endif %}

        <!-- Formulaire -->
        <form method="post" class="needs-validation">
            {% csrf_token %}
            <div class="row g-4">
                {% for field in form %}
                    <div class="col-md-6">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>

    

    
</body>
</html>
{% endblock %}
