{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Congé</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
</head>
<body>
    <div class="container">
        <h1 class="details-title">Détails du Congé</h1>

        <div class="mb-3">
            <p>
                <span class="details-label"><strong>Employé :</strong></span>
                <span class="details-value">{{ conge.employe.nom }} {{ conge.employe.prenom }}</span>
            </p>
        </div>

        <div class="mb-3">
            <p>
                <span class="details-label"><strong>Type de Congé :</strong></span>
                <span class="details-value">{{ conge.type_conge }}</span>
            </p>
        </div>

        <div class="mb-3">
            <p>
                <span class="details-label"><strong>Date de début :</strong></span>
                <span class="details-value">{{ conge.date_debut|date:"d M Y" }}</span>
            </p>
        </div>

        <div class="mb-3">
            <p>
                <span class="details-label"><strong>Date de fin :</strong></span>
                <span class="details-value">{{ conge.date_fin|date:"d M Y" }}</span>
            </p>
        </div>

        <div class="mb-3">
            <p>
                <span class="details-label"><strong>Solde initial :</strong></span>
                <span class="details-value">{{ conge.solde_initial }} jours</span>
            </p>
        </div>

        <div class="mb-3">
            <p>
                <span class="details-label"><strong>Jours utilisés :</strong></span>
                <span class="details-value">{{ conge.jours_utilises }} jours</span>
            </p>
        </div>

        <div class="mb-3">
            <p>
                <span class="details-label"><strong>Solde restant :</strong></span>
                <span class="details-value">{{ conge.solde_restant }} jours</span>
            </p>
        </div>

        <!-- Lien pour revenir à la liste des congés -->
        <a href="{% url 'recherche_conge' %}" class="back-link">← Retour à la liste des congés</a>
    </div>

  
</body>
</html>
{% endblock %}