{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div class="container mt-5">
    <h2 class="text-center mb-4">Modifier le Congé de <strong>{{ conge.employe.nom }}</strong></h2>

    <!-- Formulaire de modification avec une carte pour une meilleure apparence -->
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                
                <!-- Affichage du formulaire avec un formatage propre -->
                <div class="form-group">
                    {{ form.as_p }}
                </div>

                <!-- Bouton d'enregistrement -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Enregistrer les Modifications</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Lien pour revenir à la liste des congés -->
    <div class="text-center mt-3">
        <a href="{% url 'recherche_conge' %}" class="btn btn-secondary btn-lg">Retour à la liste des congés</a>
    </div>
</div>



{% endblock %}
