{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmer la Suppression</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
</head>
<body>
<div class="container d-flex justify-content-center">
    <div class="confirmation-container text-center">
        <!-- Titre principal -->
        <h2 class="text-danger">Confirmer la Suppression</h2>
        <p class="mt-3">Êtes-vous sûr de vouloir supprimer le congé de <strong>{{ conge.employe.nom }}</strong> ?</p>

        <!-- Formulaire de confirmation -->
        <form method="POST" class="d-inline-block">
            {% csrf_token %}
            <button type="submit" class="btn btn-confirm btn-lg me-3">Confirmer</button>
        </form>

        <!-- Lien d'annulation -->
        <a href="{% url 'recherche_conge' %}" class="btn btn-cancel btn-lg">Annuler</a>
    </div>
</div>


</body>
</html>
{% endblock %}
