{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Contrat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  
</head>
<body>

<div class="container">
    <h1 class="text-center mb-4">Détails du Contrat</h1>

    <!-- Card to display contract details -->
    <div class="card">
        <div class="card-header">
            Informations sur le Contrat
        </div>
        <div class="card-body">
            <p><strong>Employé : </strong>{{ contrat.employe.nom }}</p>
            <p><strong>Type de contrat : </strong>{{ contrat.type_contrat }}</p>
            <p><strong>Date début : </strong>{{ contrat.date_debut }}</p>
            <p><strong>Date fin : </strong>{{ contrat.date_fin }}</p>
            <p><strong>Période d'essai : </strong>{{ contrat.periode_essai }}</p>
            <p><strong>Renouvellement : </strong>{{ contrat.renouvellement }}</p>
        </div>
    </div>

    <!-- Button to go back to contract list -->
    <div class="text-center mt-4">
        <a href="{% url 'recherche_contrats' %}" class="btn-back">Retour à la liste des contrats</a>
    </div>
</div>


</body>
</html>
{% endblock %}
