{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le Contrat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
</head>
<body>
    <div class="container">
        <h2 class="form-title">Modifier le Contrat de <strong>{{ contrat.employe.nom }}</strong></h2>

        <!-- Formulaire de modification -->
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>

                    <!-- Bouton d'enregistrement -->
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Enregistrer les Modifications</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Lien pour revenir à la liste des contrats -->
        <div class="text-center mt-3">
            <a href="{% url 'recherche_contrats' %}" class="btn btn-secondary btn-lg">Retour à la liste des contrats</a>
        </div>
    </div>

    

</body>
</html>

{% endblock %}