{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmer la Suppression du Contrat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
</head>
<body>

    <div class="container">
        <h2>Confirmer la Suppression du Contrat</h2>
        <p>Êtes-vous sûr de vouloir supprimer le contrat de <strong>{{ contrat.employe.nom }}</strong> ?</p>

        <!-- Formulaire de confirmation -->
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <!-- Bouton pour confirmer la suppression -->
                <button type="submit" class="btn btn-danger">Confirmer la Suppression</button>
            </div>
        </form>

        <!-- Lien pour annuler -->
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'recherche_contrats' %}" class="btn btn-secondary">Annuler</a>
        </div>
    </div>

</body>
</html>
{% endblock %}