{% extends 'base.html' %}

{% block content %}
<h2>Gestion des Employés</h2>

<form method="GET">
    <input type="text" name="q" placeholder="Rechercher un employé" value="{{ query }}">
    <button type="submit">Rechercher</button>
</form>

<h3>Ajouter un Nouvel Employé</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ajouter l'Employé</button>
</form>

<h3>Liste des Employés</h3>
<ul>
    {% for employe in employees %}
        <li>
            {{ employe.nom }} {{ employe.prenom }} 
            <a href="{% url 'consult_employe' employe.id %}">Consulter</a>
            <a href="{% url 'modifie_employe' employe.id %}">Modifier</a>
            <a href="{% url 'supprime_employe' employe.id %}">Supprimer</a>
        </li>
    {% empty %}
        <li>Aucun employé trouvé.</li>
    {% endfor %}
</ul>
{% endblock %}