{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails de l'absence</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h2>Gestion des masroufs</h2>
    <a href="{% url 'ajouter_masrouf' %}">Ajouter un masrouf</a>

    <form method="GET">
      <input
        type="text"
        name="search"
        placeholder="Rechercher un employé"
        value="{{ request.GET.search }}"
      />
      <button type="submit">Rechercher</button>
    </form>

    <ul>
      {% for masrouf in masroufs %}
      <li>
        {{ masrouf.employe.nom }} : {{ masrouf.montant }} DZ
        <a href="{% url 'modifier_masrouf' masrouf.pk %}">Modifier</a> |
        <a href="{% url 'supprimer_masrouf' masrouf.pk %}">Supprimer</a>
      </li>
      {% empty %}
      <li>Aucun masrouf trouvé.</li>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
