{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails de l'absence</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h2>Consulter les primes</h2>
    <form method="GET">
      <input
        type="text"
        name="q"
        placeholder="Recherche par nom"
        value="{{ query }}"
      />
      <button type="submit">Rechercher</button>
    </form>

    <ul>
      {% for prime in primes %}
      <li>{{ prime.employe.nom }} : {{ prime.montant }} EUR</li>
      {% empty %}
      <li>Aucune prime trouvée.</li>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
