{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails de l'absence</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h2>Supprimer la prime</h2>
    <p>
      Êtes-vous sûr de vouloir supprimer la prime de {{ prime.employe.nom }}?
    </p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit">Supprimer</button>
    </form>
    <a href="{% url 'gestion_prime' %}">Retour à la gestion des primes</a>
    {% endblock %}
  </body>
</html>
