<!-- templates/afficher_salaire_tous_employes.html -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Salaire des Employés</title>
  </head>
  <body>
    <h1>Salaire de tous les Employés</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Nom de l'Employé</th>
          <th>Salaire de Base (DA)</th>
          <th>Total des Primes (DA)</th>
          <th>Total des Absences (DA)</th>
          <th>Salaire Net (DA)</th>
        </tr>
      </thead>
      <tbody>
        {% for salaire in salaires %}
        <tr>
          <td>{{ salaire.employe.nom }} {{ salaire.employe.prenom }}</td>
          <td>{{ salaire.salaire_base }}</td>
          <td>{{ salaire.total_primes }}</td>
          <td>{{ salaire.total_absences }}</td>
          <td>{{ salaire.salaire_net }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
