<!-- templates/afficher_primes.html -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Primes de {{ employe.nom }}</title>
  </head>
  <body>
    <h1>Primes de {{ employe.nom }} - {{ annee }}/{{ mois }}</h1>

    <h2>Liste des primes</h2>
    <ul>
      {% if primes %} {% for prime in primes %}
      <li>
        {{ prime.date_prime }} - {{ prime.montant }} DA (Type :
        {{prime.type_prime }})
      </li>
      {% endfor %} {% else %}
      <li>Aucune prime enregistrée pour ce mois.</li>
      {% endif %}
    </ul>

    <a href="{% url 'afficher_salaire' employe.id annee mois %}"
      >Retour à la fiche de paie</a
    >
  </body>
</html>
