<!-- templates/ajouter_absence.html -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ajouter une Absence</title>
  </head>
  <body>
    <h1>Ajouter une Absence</h1>

    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <!-- Affiche le formulaire avec chaque champ en paragraphe -->
      <button type="submit">Ajouter l'Absence</button>
    </form>

    <a href="{% url 'afficher_absence_tous_employes' %}"
      >Retourner à la liste des absences</a
    >
  </body>
</html>
