<h1>Liste des Candidats</h1>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Poste</th>
            <th>Statut</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.job_offer.title }}</td>
                <td>{{ candidate.get_status_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>