{% extends 'base.html' %}

{% block content %}
<h2>Détails du Congé</h2>

<p><strong>Employé :</strong> {{ conge.employe.nom }} {{ conge.employe.prenom }}</p>
<p><strong>Type de Congé :</strong> {{ conge.type_conge }}</p>
<p><strong>Date de Début :</strong> {{ conge.date_debut }}</p>
<p><strong>Date de Fin :</strong> {{ conge.date_fin }}</p>
<p><strong>Jours Utilisés :</strong> {{ conge.jours_utilises }}</p>
<p><strong>Solde Initial :</strong> {{ conge.solde_initial }}</p>
<p><strong>Solde Restant :</strong> {{ conge.solde_restant }}</p>

<a href="{% url 'recherche_conge' %}">Retour à la liste des congés</a>
{% endblock %}