<h1>Détails du Congé</h1>

<p>
  <strong>Employé :</strong> {{ conge.employe.nom }} {{ conge.employe.prenom }}
</p>
<p><strong>Type de Congé :</strong> {{ conge.type_conge }}</p>
<p><strong>Date de début :</strong> {{ conge.date_debut|date:"d M Y" }}</p>
<p><strong>Date de fin :</strong> {{ conge.date_fin|date:"d M Y" }}</p>
<p><strong>Solde initial :</strong> {{ conge.solde_initial }} jours</p>
<p><strong>Jours utilisés :</strong> {{ conge.jours_utilises }} jours</p>
<p><strong>Solde restant :</strong> {{ conge.solde_restant }} jours</p>

<!-- Lien pour revenir à la liste des congés -->
<p><a href="{% url 'liste_conges' %}">Retour à la liste des congés</a></p>
