{% block content %}
<h2>Gestion des absences</h2>
<a href="{% url 'ajouter_absence' %}">Ajouter une absence</a>

<form method="GET">
  <input
    type="text"
    name="search"
    placeholder="Rechercher un employé"
    value="{{ request.GET.search }}"
  />
  <button type="submit">Rechercher</button>
</form>

<ul>
  {% for absence in absences %}
  <li>
    {{ absence.employe.nom }} : {{absence.date_debut }} - {{absence.date_fin}}
    <a href="{% url 'modifier_absence' absence.pk %}">Modifier</a> |
    <a href="{% url 'supprimer_absence' absence.pk %}">Supprimer</a>
  </li>
  {% empty %}
  <li>Aucune absence trouvée.</li>
  {% endfor %}
</ul>
{% endblock %}
