<h1>Gestion des évaluations</h1>

<form method="get">
  <input
    type="text"
    name="search"
    placeholder="Rechercher par employé..."
    value="{{ request.GET.search }}"
  />
  <button type="submit">Rechercher</button>
</form>

<ul>
  {% for evaluation in evaluations %}
  <li>
    <a href="{% url 'consulter_evaluation' evaluation.pk %}"
      >{{ evaluation.employe.nom }} - {{ evaluation.date_evaluation }}</a
    >
    <a href="{% url 'modifier_evaluation' evaluation.pk %}">Modifier</a>
    <a href="{% url 'supprimer_evaluation' evaluation.pk %}">Supprimer</a>
  </li>
  {% endfor %}
</ul>
